<h1><%= @restaurant.name %></h1>
  <ul>
    <li>Address : <%= @restaurant.address %></li>
    <li>Phone number: <%= @restaurant.phone_number %></li>
    <li>Category: <%= @restaurant.category %></li>
  </ul>
  <div style="margin-top: 50px">
    <%=link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
  </div>
 <div style="margin-top: 50px">
    <%=link_to "Delete restaurant"%>
</div>
